body{
	margin:0px;
	padding:0px;
}

.type2{
	width:30%;
	position:absolute;
	
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.type1{
	width:30%;
	display:block;
margin:0px auto;
}